@import "parameters.less";

/*MIXINS*/
.font-family-1 {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.font-family-2 {
  font-family: 'Montserrat Alternates', sans-serif;
}

.round-corners {
	-webkit-border-radius: @round-corners-size; 
			border-radius: @round-corners-size;
	background-clip: padding-box;
}

.padded {
	padding: @padding-base; 
}

.hidden {
	display:none !important;
}

.shadow {
	-webkit-box-shadow: @offset-x @offset-y @shadow-blur @shadow-size @shadow-color;
			box-shadow: @offset-x @offset-y @shadow-blur @shadow-size @shadow-color;
}

.csstip {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	bottom:0px;
	left: 50%;
	margin-left:-@csstip-size;	
	border-width:0px @csstip-size @csstip-size @csstip-size;
}

/*---------------Clearfix------------------*/
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/*---------------General body rules------------------*/
body, input, select, option, ul, li, p, button {
	.font-family-1;
	color:@content-text;
}

strong{font-weight:bold;}
.small_text{font-size:0.750em;}

.site-width {width:100%;margin:0 auto;max-width:@max-width;padding-left:@padding-base;padding-right:@padding-base;}
img {max-width: 100%;}

body {
	overflow:hidden;
	background:@color-secondary;
	font-size:87.5%; /*14px*/
	line-height:normal;

	.items-row {
		padding-top:@padding-base;
		.item {
			padding:0.5% 1%;
			float:left;
			text-align:left;
			margin-left:1%;
			margin-right:1%;
		
			&:first-child { margin-left:0%; }
			&:last-child { margin-right:0%; }	
		}
	}

	.cols-1 {
		.column-1{ width:98%; }
	} 

	.cols-2 {
		.column-1, .column-2{ width:47%; }
	}

	.cols-3 {
		.column-1, .column-2, .column-3{ width:30%; }
	} 

	.cols-4 {
		.column-1, .column-2, .column-3, .column-4 { width:21.5%; }
	}
}
label {
display:block;
}

.icon{
  display:block;
  width:24px;
  height:24px;
  float:left;
  margin-right:4px;
  background-image:url("../images/ico-sprites.png");
  background-repeat:no-repeat;

  &.background {
    background-color:@color-accent;
  }
}

.icon.add{background-position:0px 0px;}
.icon.add:hover{background-position:-24px 0px;}

.icon.remove{background-position:0px -24px;}
.icon.remove:hover{background-position:-24px -24px;}

.icon.delete{background-position:0px -48px;}
.icon.delete:hover{background-position:-24px -48px;}

.icon.comment{background-position:0px -72px;}
.icon.comment:hover{background-position:-24px -72px;}

.icon.user{background-position:0px -96px;}
.icon.user:hover{background-position:-24px -96px;}

.icon.users{background-position:0px -120px;}
.icon.users:hover{background-position:-24px -120px;}

.icon.valid{background-position:0px -144px;}
.icon.valid:hover{background-position:-24px -144px;}

.icon.invalid{background-position:0px -168px;}
.icon.invalid:hover{background-position:-24px -168px;}

.icon.search{background-position:0px -192px;}
.icon.search:hover{background-position:-24px -192px;}

.icon.settings{background-position:0px -216px;}
.icon.settings:hover{background-position:-24px -216px;}

.icon.projects{background-position:0px -240px;}
.icon.projects:hover{background-position:-24px -240px;}

.icon.add-user{background-position:0px -264px;}
.icon.add-user:hover{background-position:-24px -264px;}

.icon.add-project{background-position:0px -288px;}
.icon.add-project:hover{background-position:-24px -288px;}

.icon.company{background-position:0px -312px;}
.icon.company:hover{background-position:-24px -312px;}

.icon.bug{background-position:0px -336px;}
.icon.bug:hover{background-position:-24px -336px;}

.icon.add-bug{background-position:0px -360px;}
.icon.add-bug:hover{background-position:-24px -360px;}

.icon.logout{background-position:0px -384px;}
.icon.logout:hover{background-position:-24px -384px;}

.icon.home{background-position:0px -408px;}
.icon.home:hover{background-position:-24px -408px;}

.icon.expand{background-position:0px -432px;}
.icon.expand:hover{background-position:-24px -432px;}

.icon.collapse{background-position:0px -456px;}
.icon.collapse:hover{background-position:-24px -456px;}

.icon.right{background-position:0px -480px;}
.icon.right:hover{background-position:-24px -480px;}

.icon.left{background-position:0px -504px;}
.icon.left:hover{background-position:-24px -504px;}

.icon.mail{background-position:0px -528px;}
.icon.mail:hover{background-position:-24px -528px;}

.icon.print{background-position:0px -552px;}
.icon.print:hover{background-position:-24px -552px;}

.icon.notes{background-position:0px -576px;}
.icon.notes:hover{background-position:-24px -576px;}

.icon.star{background-position:0px -600px;}
.icon.star:hover{background-position:-24px -600px;}

.icon.edit{background-position:0px -624px;}
.icon.edit:hover{background-position:-24px -624px;}

.icon.save{background-position:0px -648px;}
.icon.save:hover{background-position:-24px -648px;}

.icon.folder{background-position:0px -672px;}
.icon.folder:hover{background-position:-24px -672px;}

.icon.add-folder{background-position:0px -696px;}
.icon.add-folder:hover{background-position:-24px -696px;}

.icon.export{background-position:0px -720px;}
.icon.export:hover{background-position:-24px -720px;}

.icon.sync{background-position:0px -744px;}
.icon.sync:hover{background-position:-24px -744px;}

.icon.globe{background-position:0px -768px;}
.icon.globe:hover{background-position:-24px -768px;}

.icon.database{background-position:0px -792px;}
.icon.database:hover{background-position:-24px -792px;}

.icon.add-database{background-position:0px -816px;}
.icon.add-database:hover{background-position:-24px -816px;}

.icon.upload-database{background-position:0px -840px;}
.icon.upload-database:hover{background-position:-24px -840px;}

.icon.download-database{background-position:0px -864px;}
.icon.download-database:hover{background-position:-24px -864px;}

.icon.earth{background-position:0px -888px;}
.icon.earth:hover{background-position:-24px -888px;}

.icon.trash{background-position:0px -912px;}
.icon.trash:hover{background-position:-24px -912px;}

.icon.preview{background-position:0px -936;}
.icon.preview:hover{background-position:-24px -936px;}

.icon.approved{background-position:0px -960px;}
.icon.approved:hover{background-position:-24px -960px;}

.icon.archive{background-position:0px -984px;}
.icon.archive:hover{background-position:-24px -984px;}

.icon.approved{background-position:0px -1008px;}
.icon.approved:hover{background-position:-24px -1008px;}

.icon.archive{background-position:0px -1032px;}
.icon.archive:hover{background-position:-24px -1032px;}

.icon.approved{background-position:0px -1056px;}
.icon.approved:hover{background-position:-24px -1056px;}

.icon.archive{background-position:0px -1080px;}
.icon.archive:hover{background-position:-24px -1080px;}

/*--- Inputs ---*/
input {
	background:@color-white;
	border:solid 1px lighten(@color-info, 10%);
	.round-corners;
	padding-left:@round-corners-size;
	padding-right:@round-corners-size;
	margin-bottom:5px;
	
	&:focus {
		background:@color-white !important;
		border:solid 1px darken(@color-info, 10%);
	}
	
	&.invalid {
		background:lighten(@color-error, 20%);
		border:solid 1px @color-error;
	}
	
	&.invalid:focus {
		background:@color-white !important;
		border:solid 1px @color-error !important;
	}
	
	&.valid {
		background:lighten(@color-success, 20%);
		border:solid 1px @color-success;
	}

	&.valid:focus {
		background:@color-white !important;
		border:solid 1px @color-success !important;
	}	
	
	&.normal{
		height:20px;
		line-height:20px;
		width:200px;	
	}
	
	&.hover {
		height:25px;
		line-height:25px;
		width:210px;	
	}
}

.radio {
  float:left;
}

/*--- general links ---*/
a {
	text-decoration:underline;
	color: @color-primary;

	&:hover {
		text-decoration:none;
		color: @color-accent;
	}
	
	&.inactive {
		text-decoration:none !important;
		color:@color-inactive !important;
		background:none !important;	
	}
}

/*--- buttons ---*/
a.button,
input[type="submit"],
button {
	background:@color-primary;
	text-decoration:none !important;
	color:@color-white !important;
	white-space:nowrap !important;
    display:inline-block;
    .round-corners;
	&:hover {
		background:@color-accent;
		color:@color-white;
	}
	
	&.inactive {
		text-decoration:none !important;
		color:@color-white !important;
		background:@color-inactive !important;		
	}
}

/*--- headlines ---*/
h1, h2, h3, h4 {
	.font-family-2;
	font-weight:normal;
	padding-bottom:@padding-base; /*10px*/
	line-height:100%; /*normal*/
	color:@content-headlines;
}

h1 {font-size:198%;padding-top:(@padding-base * 1 );padding-bottom:(@padding-base * 2 )}
h2 {font-size:144%;padding-top:(@padding-base * 1 );padding-bottom:(@padding-base * 1 )}
h3 {font-size:128%;}
h4 {font-size:125%;padding-bottom:(@padding-base * 2 )}

/**************************************************************************************************************/
/**************************************************************************************************************/
/**************************************************************************************************************/
/*HEADER*/
#site-header {
background:@color-primary;
clear:both;
position:fixed;
top:0px;
height:@header-size;
width:100%;
z-index:2;
	
	#site-logo {
	background:url('../images/site-logo.png') no-repeat 50% 50%;
	width:128px;
	height:@header-size;
	float:left;
	}
	
	#site-navigation {
		height:@header-size;
		line-height:@header-size;
		margin-right:@padding-base;
      .icon{margin-top:8px;}
		ul {
			float:right;
			
			li {
				float:left;
				display:block;
				height:100%;
				position:relative;
				width:auto;

				a{
					display:block;
					height:100%;
					padding-right:@navigation-link-padding;
					padding-left:@navigation-link-padding;
					color:@content-text-inverted;
					text-decoration:none;
					font-size:100%;
					.font-family-1;
					
					&:hover {
						background:@color-accent;
						color:@color-white;
					}
					
					&:hover:after {
						.csstip;
						border-color: transparent transparent darken(@color-secondary, 30%) transparent;
					}
				}
				
				&.active a{
					background:lighten(@color-primary, 5%) !important;
					color:@color-white;
				}

				&.active:after {
					.csstip;
					border-color: transparent transparent @color-secondary transparent;
				}
			}
		}
	}	
}

/*CONTENT*/
#site-content {
	background:@color-secondary;
	clear:both;
	position:absolute;
	top:@header-size;
	bottom:@footer-size;
	left:0px;
	right:0px;
	overflow:auto;

    table {
      width:100%;

      th {color:@color-accent;}

      tr:nth-child(odd) { background-color:@color-white; }
      tr:nth-child(even) { background-color:darken(@color-white,10%) }
    }

	.site-width {
		width:97%;
		max-width:97%;
	}

	.box {
		padding:1%;
		position:relative;
		p, a, li {color:darken(@color-secondary,40%);}
		
		a {
			text-decoration:underline;
			&:hover {text-decoration:none;}
		}
		
		&.color-light{
			background:@color-white;
			h1, h2, h3, h4 {color:@content-headlines;}
			p, a, li {color:@content-text;}
		}

		&.color-dark{
			background:darken(@color-secondary, 50%);
			h1, h2, h3, h4 {color:@content-headlines-inverted;}
			p, a, li {color:@content-text-inverted;}
		}		

		&.message {
			p {color:@color-white !important;}
			margin-top:10px;
			&:before {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				top:0%;
				left:0%;
				border-width: @csstip-size @csstip-size 0px 0px;
				border-color: @color-secondary transparent transparent transparent;
			}

			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				top:0%;
				left:0%;
				border-width:0px 0px @csstip-size @csstip-size;
			}		
			
			&.success {
				background:@color-success;

				&:after {
					border-color: transparent transparent darken(@color-success, 20%) transparent ;
				}				
			}
				
			&.error {
				background:@color-error;

				&:after {
					border-color: transparent transparent darken(@color-error, 20%) transparent ;
				}				
			}			
				
			&.info {
				background:@color-info;

				&:after {
					border-color: transparent transparent darken(@color-info, 20%) transparent ;
				}				
			}		
		}	
	}

    .users {
        li.user {
            display:inline-block;
            width:64px;
            line-height:64px;
            height:64px;
            cursor:pointer;
            position:relative;

                .icon{
                    margin-top:24px;
                    margin-right:0px;
                    margin-left:8px;
                }

            &:nth-child(3n-2) {background:#a6e866;}
            &:nth-child(3n-1) {background:#f16e86;}
            &:nth-child(3n) {background:#75e3ea;}

            &:before {content: "";position: absolute;width: 0;height: 0;border-style: solid;top: 0%;left: 0%;border-width: 8px 8px 0px 0px;border-color: #e4eaea transparent transparent transparent;}
        }
    }

    .projects {
        height:80%;
        overflow:scroll;
        overflow-x:hidden;

        li.project{background:#e4eaea;line-height:76px;padding:4px;margin-bottom:8px;}
        li.project:last-child{margin-bottom:0px;}
    }

	.sidebar {
		position:fixed;
		background:darken(@color-secondary, 30%);
		z-index:1;
		
		p,ul,li,a {color:@content-text-inverted;}
		h1,h2,h3,h4 {color:@content-headlines-inverted;}
		
		&.left {
			left:0px;
			top:0px;
			bottom:0px;				
		}
		
		&.right {
			right:0px;
			top:0px;
			bottom:0px;	
		}
		
		&.expanded {
			width:@sidebar-width-expanded;
			padding-left:@padding-base;
			padding-right:@padding-base;
		}
		
		&.collapsed {
			width:@sidebar-width-collapsed;
			*{display:none;}
			.toggle {display:block !important;}
		}
		
		&.left.expanded{
			.toggle {
				left:100%;
				margin-left:@padding-base;

				.icon {background-position:0px -24px;}
				
				&:hover {
					.icon {background-position:-24px -24px;}				
				}				
			}		
		}

		&.left.collapsed{
			.toggle {
				left:100%;
				margin-left:0;
				
				.icon {background-position:0px 0px;}
				
				&:hover {
					.icon {background-position:-24px 0px;}				
				}					
			}		
		}		
		
		&.right.expanded{
			.toggle {
				left:-(20px + @padding-base);

				.icon {background-position:0px 0px;}
				
				&:hover {
					.icon {background-position:-24px 0px;}				
				}	
			}		
		}

		&.right.collapsed{
			.toggle {
				left:-(20px);
				background-repeat:no-repeat;

				.icon {background-position:0px -24px;}
				
				&:hover {
					.icon {background-position:-24px -24px;}				
				}
			}		
		}
		
		.toggle {
			position:relative;
			top:(@header-size + 10px);
			width:20px;
			height:64px;
			cursor:pointer;
			background:darken(@color-secondary, 30%);
			
			.icon {
				position:relative;
				top:20px;
				width:24px;
				height:24px;
				display:block;
				background-image:url('../images/ico-toggle.png');
				background-repeat:no-repeat;
			}
		}	
	}
}

/*FOOTER*/
#site-footer {
background:darken(@color-secondary, 50%);
clear:both;
position:fixed;
bottom:0px;
height:@footer-size;
width:100%;
z-index:2;

	.site-width {
		padding-top:5px;
		padding-bottom:5px;
	}
	
	input, select, option, ul, li, p, button {
		color:lighten(@color-secondary,40%);
	}
}