<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>UserServlet</display-name>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CompanyServlet</display-name>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>Servlets.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <display-name>Mail</display-name>
        <servlet-name>Mail</servlet-name>
        <servlet-class>Servlets.Mail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/CompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
</web-app>
