<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>UserServlet</display-name>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CompanyServlet</display-name>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>Servlets.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <display-name>MailServlet</display-name>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>Servlets.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>ProjectServlet</display-name>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>Servlets.ProjectServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>BugServlet</display-name>
        <servlet-name>BugServlet</servlet-name>
        <servlet-class>Servlets.BugServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>CommentServlet</display-name>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>Servlets.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/CompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BugServlet</servlet-name>
        <url-pattern>/BugServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>C:\Program Files\Apache Software Foundation\Tomcat 7.0\webapps\data</param-value>
    </context-param>
</web-app>
